# Add files here to ignore them from prettier formatting

# compiled output
/dist
.prettierignore
.prettierrc
.prettierrc.js
.editorconfig

# dependencies
/node_modules

# IDE - VSCode
.vscode/*

# misc
/coverage